.left-side-background{
            -fx-background-color: #01BED2;
}

.right-side-border {
    -fx-border-color: #01BED2;
    -fx-border-width:  0 1.5 0 0;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.border {
    -fx-border-color: #01BED2;
    -fx-border-width: 1.5;
}

.green-button {
    -fx-background-color: green;
    -fx-text-fill: white ;
}

.red-button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.update-button {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

.background {
    -fx-background-color: #0080ff;
}

.yellow{
    -fx-background-color: yellow;
}